/* Empty. Add your own CSS if you like */

#colorholder {
  width: 300px;
  border: 2px solid #424547;
  margin: auto;
  text-align: center;
}

#drawing-canvas {
  border: 3px solid #999;
  margin: auto;
  display: block;
}

.colorbox {
  width: 45px;
  height: 45px;
  margin: 8px;
  display: inline-block;
  border: 3px solid black;
}

.colorbox.active{
  border-color: #3498db;
  border-width:5px;
}

#canvas0,
#canvas1 {
  display: inline-block;
  border: 4px solid #424547;
}

.l-demo-container {
  margin:30px
}

/*Right side menu*/

.profile-img {
  border-radius: 3px;
  float: left;
}

.twitter-username {
  float: right;
  display: inline-block;
  margin-top: 10px;
}
